

 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
		
 <div class="window-margin">
	<div class="window">
            <aside class="sidebar">
                        <div class="top-bar">
				 <a href="" >
                        <img style="height: 45px; width: 45px;" src="/assets/images/logosemfundo.png" alt="ASA" >
                        </a>
			</div>
     </aside>
 <div class="main" role="main">
     

			<div class="top-bar">
	<input type="text" placeholder="Buscar Filme ..." style="
	        align-content: floa;
	    /* float: right; */
	    background: #e8e8e8;
	    /* height: 30px; */
	    /* width: 30px; */
	    border-radius: 10px;
	    display: block;
	    float: right;
	    margin-top: 10px;
	    width: 15%;
	    height: 10px;
	    border: 0;
	    padding: 10px 20px;
	    outline: none;
	    color: #999;
	    transition-duration: 0.3s;
	    margin-right: 10px;
	"/>
	<p class="fa fa-search" style="
	    /* position: absolute; */
	    top: 17px;
	    right: 10px;
	    color: #1b1b1b;
	    float: right;
	    transition-duration: 0.3s;
	    cursor: pointer;
	    /* padding: 10px 20px; */
	    position: absolute;
	    margin-right: 10px;
	"></p>
				<div class="profile-box onclick-menu" tabindex="0">
                                    <div class="circle">
                                    </div>
                                    <span class="arrow1 fa fa-angle-down">
                                    </span>
                                    <ul class="onclick-menu-content" style="    margin-top: 49px;">
        <li><button onclick="alert('click 1')" style="
    border: none;
    padding: 0px auto;
     height: 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    width: 180px;
    margin-bottom: -25px;">Look, mom</button></li>
        <li><button onclick="alert('click 2')">no JavaScript!</button></li>
        <li><button onclick="alert('click 3')">Pretty nice, right?</button></li>
    </ul>
				</div>


				<ul class="top-menu">
					<li class="menu-icon trigger-sidebar-toggle">
						<div class="line"></div>
						<div class="line"></div>
						<div class="line"></div>
					</li>
					<li><a href="#">Filmes</a></li>
					<li><a href="#">Séries</a></li>
					<li class="active"><a href="#">Na Telona</a></li>
					<li><a href="#">Noticias</a></li>
					<li><a href="#">Usuario</a></li>
					<li><a href="#">Artistas</a></li>
				</ul>

			</div>	
     </div>
		
        </div>
 </div>