<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
   
<div style="    height: 293px;">
        <footer>
            <div class="container">
                <div class="left section">
                    <h2>Sobre Nós</h2>
                    <div class="content">
                        <p>Já Imaginou poder avaliar aqueles comentarios sem noção no seu filme favorito? Aqui você pode! Crie Listas, 
                          Busque e Salve Filmes para ver mais tarde, critique; Solte o cinefilo dentro de você!</p>
                    <div class="social">
                        <a href="https://asa-moviedb-front.herokuapp.com/home"><span class="fab fa-facebook-f"></span></a>
                        <a href="https://instagram.com/agora7arte"><span class="fab fa-instagram"></span></a>
                        <a href="https://www.youtube.com"><span class="fab fa-youtube"></span></a>
                    </div>
                    </div>
                </div>

                <div class="center section">
                    <h2>Contact Us</h2>
                    <div class="content">
                        <div class="place">
                            <span class="fas fa-map-marker-alt"></span>
                            <span class="text"> São Paulo, BRA</span>
                        </div>
                        <div class="phone">
                            <span class="fas fa-phone-alt"></span>
                            <span class="text"> +55 9 1234 1234</span>
                        </div>
                        <div class="email">
                            <span class="fas fa-envelope"></span>
                            <span class="text"> softsaj.adm@gmail.com</span>
                        </div>
                    </div>
                </div>

                <div class="right section">
                    <h2>Inscreva-se</h2>
                    <div class="content">
                        <form action="#">
                            <div class="email">
                                <div class="text">Email*</div>
                            </div>
                            <input type="email" required>
                            <div class="btn">
                                <button type="submit">Inscreva-se</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <div class="footer-bottom">
                    <div style="text-align: center;"><span>Powered By <a href="">© 2021 | All Rights Reserved | Made By Softsaj</a></span></div>
               
            </div>
        </footer>
</div>
