
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">

<style>
    
    @media screen and (max-width: 1220px) {
  .window > .sidebar {
    transform: translateX(-250px) !important;
  }
  .window > .main {
    margin-left: 0;
  }
  .sidebar-is-open .window > .sidebar {
    transform: translateX(0);
  }
  .sidebar-is-open .window > .main {
    transform: translateX(250px);
  }
}
</style>

<!-- Toolbar -->
<div class="window-margin">
	<div class="window">
            <aside class="sidebar">
                        <div class="top-bar">
				 <a href="" >
                        <img style="height: 45px; width: 45px;" src="/assets/images/logosemfundo.png" alt="ASA" >
                        </a>
			</div>
     </aside>
 <div class="main" role="main">
     

			<div class="top-bar">
                            <form><input (keyup.enter)="onKeyUp1()" [(ngModel)]="nome1" name="nome1" id="nome1" type="text" placeholder="Buscar Filme ..." style="
	        background: #e8e8e8;
    border-radius: 10px;
    display: block;
    float: right;
    margin-top: 8px;
    width: 30%;
    height: 60%;;
    border: 0;
    padding: 10px 20px;
    outline: none;
    color: #999;
    transition-duration: 0.3s;
    margin-right: 10px;
	"/></form>
	<p (click)=onKeyUp1() class="fa fa-search" style="
	    top: 20px;
    right: 10px;
    color: #1b1b1b;
    float: right;
    transition-duration: 0.3s;
    cursor: pointer;
    position: absolute;
    margin-right: 13px;
	"></p>
				<div  class="profile-box onclick-menu" tabindex="0">
                                    <div *ngIf="isLoggedIn" routerLink="home-cinefilo" class="circle">
                                    </div>
                                    <span *ngIf="isLoggedIn" class="arrow1 fa fa-angle-down">
                                    </span>
                                    <ul class="onclick-menu-content" style="    margin-top: 49px;">
        <li><button onclick="alert('click 1')" style="
    border: none;
    padding: 0px auto;
     height: 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    width: 180px;
    margin-bottom: -25px;">Look, mom</button></li>
        <li><button onclick="alert('click 2')">no JavaScript!</button></li>
        <li><button onclick="alert('click 3')">Pretty nice, right?</button></li>
    </ul>
				<div *ngIf="!isLoggedIn" routerLink="login">
                                            <a routerLink="login">
                                                <span routerLink="login" style="font-size: 14px; 
                                                font-weight: bold; 
                                                padding: 8px 30px;
                                                background: #fffc45;
                                                color: #515151;
                                                border-radius: 10px;
                                                margin-right: 0px;
                                                height: 32px;
                                                border: none;">
                                                Sign In
                                            </span>
                                            </a>
                                            
                                            </div>
                                
                                </div>

        
                                

				<ul class="top-menu">
					<li class="menu-icon trigger-sidebar-toggle">
						<div class="line"></div>
						<div class="line"></div>
						<div class="line"></div>
					</li>
                                        <li #my2li class="active"
                                            (click)="myli.classList.remove('active'); my2li.classList.add('active'); my3li.classList.remove('active'); my4li.classList.remove('active');my5li.classList.remove('active') ">
                                            <a routerLink="">Filmes</a></li>
					<li #myli 
                                            (click)="myli.classList.add('active'); my2li.classList.remove('active'); my3li.classList.remove('active'); my4li.classList.remove('active');my5li.classList.remove('active') ">
                                            <a a routerLink="home-serie">Séries</a></li>
					<li #my3li
                                            (click)="myli.classList.remove('active'); my2li.classList.remove('active'); my3li.classList.add('active'); my4li.classList.remove('active');my5li.classList.remove('active') ">
                                            <a routerLink="home-noticias">Noticias</a></li>
					<li #my4li
                                            (click)="myli.classList.remove('active'); my2li.classList.remove('active'); my3li.classList.remove('active'); my4li.classList.add('active');my5li.classList.remove('active') ">
                                            <a routerLink="home-listas">Listas</a></li>
					<li #my5li
                                            (click)="myli.classList.remove('active'); my2li.classList.remove('active'); my3li.classList.remove('active'); my4li.classList.remove('active');my5li.classList.add('active') ">
                                            <a routerLink="home-artistas">Artistas</a></li>
                                          <li>
                <a *ngIf="isLoggedIn" class="nav-link"  (click)=handleLogout()>Logout</a>
            </li>
				</ul>

			</div>	
     </div>
		
        </div>
 </div>

<!-- Body -->
<router-outlet></router-outlet>

<!-- Footer -->
<app-footer></app-footer>
