
 
/*-------------------------------Lista de filmes------------------------------------*/
* {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 100%;
}

body {
  background-color: #D1D1D1;
  color: #fff;
  font-family: sans-serif;
  font-style: 1rem;
  line-height: 1.5;
  margin: 0 auto;
  min-height: 100vh;
  width: 100%;
}

figure {
  margin: 0;
}

img {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}

input {
  border: 0;
  font: inherit;
  margin: 0;
  padding: 0;
}

.search {
  font-size: 1.5rem;
  margin: 1.5em auto 3em;
  max-width: 50%;
}

.search [type='search'] {
  background-color: #fff;
  color: #000000;
  padding: 0.5em 2em;
  text-align: center;
  width: 100%;
}

.movies {
  display: grid;
  grid-gap: 3em 2em;
  grid-template-columns: repeat(auto-fill, minmax(12em, 1fr));
  list-style: none;
  margin: 5%;
  padding: 0;
}

.movie__figure {
  position: relative;
}

.movie__poster {
  -webkit-box-shadow: 0 0 1em rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 1em rgba(0, 0, 0, 0.5);
  margin-bottom: 0.5em;
}

.movie__vote {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f68d01;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 1em rgba(0, 0, 0, 0.25);
          box-shadow: 0 0 1em rgba(0, 0, 0, 0.25);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 2.25em;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0.5em;
  position: absolute;
  right: 0;
  text-align: center;
  top: 75%;
  -webkit-transform: translateX(50%);
      -ms-transform: translateX(50%);
          transform: translateX(50%);
  width: 2.25em;
}

.movie__title {
  font-size: 0.875rem;
  font-weight: 400 !important;
    margin: 0 ;
}
/*-------------------------------Lista de filmes End------------------------------------*/


.title-bar {
  padding: 10px;
}
.title-bar .left {
  float: left;
  font-size: 15px;
  text-transform: uppercase;
}
.title-bar .left .grey {
  color: #999;
  font-weight: bold;
}
.title-bar .left .bold {
  font-weight: bold;
}
.title-bar .left p {
  display: inline-block;
  margin-right: 10px;
  margin: 0 0 0 10px;
}
.title-bar .right {
  float: right;
}
 .title-bar .right a {
  color: #999;
  margin-left: 10px;
      text-decoration: none;
    transition-duration: 0.3s;
    font-size: 15px;
}
.title-bar .right a.blue {
  color: #FF3A3A;
  font-weight: bold;
      text-decoration: none;
    transition-duration: 0.3s;
    font-size: 15px;
}

.right {
  float: right;
  font-size: 15px;
}
.right .stars {
  float: left;
  color: #F0C236;
  margin-right: 20px;
}
.right .share {
  float: left;
  cursor: pointer;
}
.right .share .fa {
  margin-right: 5px;
}


