<title>Asa - Filmes Populares</title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">

<!-- Nav -->
<mat-sidenav-container class="container">
    <mat-sidenav class="side" mode="side" opened>
            <aside class="sidebar">
                    <menu class="menu">
				<p class="menu-name"><b>Categorias</b></p>
				<ul >
					<li #myli class="active"
                                            (click)="myli.classList.add('active'); my2li.classList.remove('active')"
                                            ><a routerLink="" >Todas</a></li>
					<li #my2li
                                            (click)="myli.classList.remove('active'); my2li.classList.add('active')"
                                            >
                                                
                                            <a routerLink="filmes/28">Ação</a></li>
					<li><a routerLink="filmes/12">Aventura</a></li>
					<li><a routerLink="filmes/16">Animaçao</a></li>
					<li><a routerLink="filmes/35">Comédia</a></li>
					<li><a routerLink="filmes/99">Documentário</a></li>
					<li><a routerLink="filmes/18">Drama</a></li>
					<li><a routerLink="filmes/10751">Familia</a></li>
					<li><a routerLink="filmes/37">Faroste</a></li>
					<li><a routerLink="filmes/14">Fantasia</a></li>
					<li><a routerLink="filmes/36">Historia</a></li>
					<li><a routerLink="filmes/878">Sci-Fi</a></li>
					<li><a routerLink="filmes/9648">Mistério</a></li>
					<li><a routerLink="filmes/10402">Musical</a></li>
					<li><a routerLink="filmes/80">Policial</a></li>
					<li><a routerLink="filmes/10749">Romance</a></li>
					<li><a routerLink="filmes/27">Terror</a></li>
					<li><a routerLink="filmes/53">Thriller</a></li>
					<li><a routerLink="filmes/10752">Guerra</a></li>
                                        <li><a ></a></li>
				</ul>

				<div class="separator"></div>
			</menu>
		</aside>
    </mat-sidenav>

    <mat-sidenav-content>
        <router-outlet>
            
        </router-outlet>
    </mat-sidenav-content>

</mat-sidenav-container>